*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(26, 24, 24);
}
/* redefino el margin de los parrafos por que boostrap me los modifica con el reboot.scss*/
body p{
    margin-bottom: 0;
}

/*Formato para el contendor principal*/
.contendor_principal{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*formato para el header/fotter*/

header{ 
    display: flex;   
    background-color: rgb(59, 59, 59,1 );
    width: 100%;
    gap:15%;
    flex-direction: row;
    position: sticky;
    top:0;
    z-index: 100;
      
}

.encabezado{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo-encabezado{
    display: flex;
    justify-content: flex-end;

}

.barra_navegacion{
    display: flex;
    gap:5%;
    flex-direction: row;
    justify-content: flex-end;
}
.navegacion{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    border: none;
    
}

.nav_links{
    padding: 4px;
}
.nav_links  a{
    border-radius: var(--bs-nav-tabs-border-radius);
}

.nav_links a{
    color:beige;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    
}
  
.links_iconos{
    display: flex;
    font-size: x-large;
    gap: 20px;
    align-items: center;
}
.links_iconos a i{
    color: blanchedalmond;
}

/* estilo para el menu tipo hamburguesa*/
.encabezado_hamburguesa{
    display: none;
    padding: 0;
    background-color: rgb(59, 59, 59,1 );
}
.contenedor_hamburguesa{
    background-color: rgb(59, 59, 59,1 );
}

.boton_navbar{
    border-color:blanchedalmond;

}
.boton_navbar span{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.boton_navbar span i{
    color: blanchedalmond;
    font-size: xx-large;
}
.menu-interno{
    background-color: rgb(59, 59, 59,1);
}
.logo-navbar{
    height: 50px;
    width: 50px;
}
.links_iconos button{
    color: blanchedalmond;
    font-size: medium;
}
.btn-cerrar{
    background-color: transparent;
    border:none;
}

.lista-menu a{
    color: blanchedalmond;
}

.lista-interna{
    background-color: rgb(37, 37, 37);
}

.lista-interna a{
    color: blanchedalmond;
}

.submenu-productos{
    background-color: rgb(56, 56, 56) ;
}
.dropdown-buscar{
    transform: translate(100px, 70px)!important;
    width: 320px;

}
.input-busqueda{
    width: auto;
}
.formulario-busqueda{
    margin-left: 2%;
}
.links_iconos i{
    color: blanchedalmond;
    font-size: x-large;
}


@media screen and (max-width:920px) {
    .encabezado_hamburguesa{
        display: block;
    }

    .encabezado{
        display: none;  
    }
    
}



/*formato para primera seccion(introduccion) */

.introduccion{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(0,0,0,.5),rgb(0,0,0,.5)), url(../imagenes/Comida-inicio.png);
    background-size: cover;
    background-position: center;
    
}

.texto_intro{
    display: flex;
    flex-direction: column;
    color: beige;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    gap: 10px;
}

.texto_intro h1{
    font-weight: 900;
    font-size: 50px;
}
.texto_intro h4{
    font-weight: 200;
    font-size: larger;
}

/*formato segunda seccion(descripcion del chef) */


.el_chef{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 3%;
    border:10cm;
    border-color: aliceblue;
}

.descripcion_chef{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to left, rgba(199, 199, 199, 0.01),rgb(199, 199, 199, 0.1));
    width: 30%;
    height: 350px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.descripcion_chef p{
    color: rgb(209, 207, 207);
    padding: 2%;
    text-align: justify;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    padding-right: 5%;
    font-style: italic;
    overflow: auto;
    

}
.descripcion_chef h2{
    color: rgb(209, 207, 207);
    padding: 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 5%;
    letter-spacing: 0.05cm;

}

.imagen_chef{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/chef.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;


}

/*seccion productos*/

.nuestros_productos{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}
.titulo_productos{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 300;
    padding:1%;


}

.productos{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.productos a{
    text-decoration: none;
}


.productos img{
    aspect-ratio: 3/4;
    width:70%;
    object-fit: cover;
    border-radius: 3%;
}
.productos h3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 500;
    padding:2%;
    width: 70%;
}

.producto_seccion{
    display: flex;
    flex-direction: column;
    
}
/* linea divisoria*/

hr {
    border: 0;
    height: 2px; 
    text-align: center; 
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
}

/* Contacto y ubicación*/
.ubicacion_contacto_NS{
    display:flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.ubicacion iframe{
    width:70%;    

}

.ubicacion{
    display:flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
    
}
.ubicacion p{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 90%;
    font-weight: 300;
    padding:3%;
    width: 75%;
    
    
}

.contacto{
    display:flex;
    flex-direction: column;
    width: 20%;

}

.contacto div{
    padding-top: 5%;
}

.contacto p{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100%;
    font-weight: 300;
    padding:2%;
    width: 100%;
}


.newslatters{
    display:flex;
    flex-direction: column;
}

.newslatters div{
    padding-top: 5%;

}

.newslatters p{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100%;
    font-weight: 300;
    padding:2%;
    width: 100%;
}


.newslatters button{
    background: linear-gradient(to left, rgb(83, 83, 83), rgb(255, 255, 255), rgb(83, 83, 83));
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100%;
    font-weight: 800;

}

.redes{
    display: flex;
    align-items: flex-start;
    gap:20px;
}

.redes a i{
    color: blanchedalmond;
    font-size: xx-large;
}

.ubicacion_contacto_NS h4{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding:2%;
    width: 70%;
}

/*formato footer*/

.pie{
    display: flex;
    padding: 0.1rem;
    
}
.pie img{
    aspect-ratio: 3/2;
    width: 118px;
}

.derechoautor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.derechoautor p{
    text-align: center;
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: small;
    
}

@media screen and (max-width:576px) {
    .imagen-pie{
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
    
}



/* FORMATO PARA ARGENTINIANFOOD*/


/*formato primera seccion(descripcion del producto) */


.argenta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 3%;
    border:10cm;
    border-color: aliceblue;
}

.descripcion_argenta{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to left, rgba(199, 199, 199, 0.01),rgb(199, 199, 199, 0.1));
    width: 30%;
    height: 350px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.descripcion_argenta p{
    color: rgb(209, 207, 207);
    padding: 2%;
    text-align: justify;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    padding-right: 5%;
    font-style: italic;
    overflow: auto;
    

}
.descripcion_argenta h2{
    color: rgb(209, 207, 207);
    padding: 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 5%;
    letter-spacing: 0.05cm;

}

.imagen_argenta{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/comida-arg.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

/*seccion productos argentinos*/

.nuestros_productos_arg{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}
.titulo_productos_arg{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 300;
    padding:1%;
}
.productos_arg img{
    aspect-ratio: 3/4;
    width:100%;
    object-fit: cover;
    border-radius: 3%;
}

.productos_arg p{
    width:100%;
    color:rgb(114, 114, 114)
}
.descripcion_pie_arg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.descripcion_pie_arg a{
    width: 100px;
}

.descripcion_pie_arg p{
    padding-bottom: 6%;
}

.productos_arg {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.productos_arg h3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 500;
    padding:2%;
    width: 100%;
}

.producto_seccion_arg{
    display: flex;
    flex-direction: column;
    background-color:rgb(26, 24, 24) ;
    border: none;    
}

/*Propiedades carrusel*/

.carrusel_recetas_arg{
    display: none;
}
.carrusel_recetas2_arg{
    width: 80%;
    
 }

.carrusel_recetas2_arg p{
    color:rgb(114, 114, 114);
}
.carrusel_recetas2_arg H3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding:2%;
    width: 100%;
}
 
.carrusel_recetas_arg img{
    object-fit: cover;
    border-radius: 3%;
}

/*Oculto mi grilla y habilito la vista del carrusel cuando es vista de celular*/
@media screen and (max-width:576px){
    .carrusel_recetas_arg{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .productos_arg{
        display: none;

    }
    .producto_seccion_arg{
        width: 100%;
    }

}

.anadir_carro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.anadir_carro i{
    color: azure;
    font-size: xx-large;
    padding-top: 1.5%;
}


/* FORMATO PARA ITALIANFOOD*/


/*formato primera seccion(descripcion del producto) */


.italiana{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 3%;
    border:10cm;
    border-color: aliceblue;
}

.descripcion_italiana{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to left, rgba(199, 199, 199, 0.01),rgb(199, 199, 199, 0.1));
    width: 30%;
    height: 350px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.descripcion_italiana p{
    color: rgb(209, 207, 207);
    padding: 2%;
    text-align: justify;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    padding-right: 5%;
    font-style: italic;
    overflow: auto;
    

}
.descripcion_italiana h2{
    color: rgb(209, 207, 207);
    padding: 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 5%;
    letter-spacing: 0.05cm;

}

.imagen_italiana{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/pastas-italiana.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

/*seccion productos italianos*/

.nuestros_productos_it{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}
.titulo_productos_it{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 300;
    padding:1%;
}

.productos_it img{
    aspect-ratio: 3/4;
    width:100%;
    object-fit: cover;
    border-radius: 3%;
}


.productos_it p{
    width:100%;
    color:rgb(114, 114, 114)
}

.descripcion_pie_it{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.descripcion_pie_it a{
    width: 100px;
}

.descripcion_pie_it p{
    padding-bottom: 6%;
}

.productos_it{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.productos_it h3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 500;
    padding:2%;
    width: 100%;
}

.producto_seccion_it{
    display: flex;
    flex-direction: column;
    background-color:rgb(26, 24, 24) ;
    border: none; 
    
}

/*Propiedades carrusel*/

.carrusel_recetas_it{
    display: none;
}

.carrusel_recetas2_it{
   width: 80%;
}
.carrusel_recetas2_it p{
    color:rgb(114, 114, 114);
}
.carrusel_recetas2_it H3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding:2%;
    width: 100%;
}
 
 
.carrusel_recetas_it img{
    object-fit: cover;
    border-radius: 3%;
}

/*Oculto mi grilla y habilito la vista del carrusel cuando es vista de celular*/
@media screen and (max-width:576px){
    .carrusel_recetas_it{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .productos_it{
        display: none;

    }
    .producto_seccion_it{
        width: 100%;
    }
}



/* FORMATO PARA ASIANFOOD*/


/*formato primera seccion(descripcion del producto) */

.asiatica{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 3%;
    border:10cm;
    border-color: aliceblue;
}

.descripcion_asiatica{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to left, rgba(199, 199, 199, 0.01),rgb(199, 199, 199, 0.1));
    width: 30%;
    height: 350px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.descripcion_asiatica p{
    color: rgb(209, 207, 207);
    padding: 2%;
    text-align: justify;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    padding-right: 5%;
    font-style: italic;
    overflow: auto;
    

}
.descripcion_asiatica h2{
    color: rgb(209, 207, 207);
    padding: 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 5%;
    letter-spacing: 0.05cm;

}

.imagen_asiatica{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/comidaAsiatica.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

/*seccion productos asiaticos*/

.nuestros_productos_asiaticos{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}
.titulo_productos_asiaticos{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 300;
    padding:1%;
}

.productos_asiaticos{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.productos_asiaticos img{
    aspect-ratio: 3/4;
    width:70%;
    object-fit: cover;
    border-radius: 3%;
}
.productos_asiaticos h3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 500;
    padding:2%;
    width: 55%;
}

.producto_seccion_asiaticos{
    display: flex;
    flex-direction: column;
    
}

/* FORMATO PARA recetas*/


/*formato primera seccion(descripcion de recetas) */


.receta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 3%;
    border:10cm;
    border-color: aliceblue;
}

.descripcion_receta{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to left, rgba(199, 199, 199, 0.01),rgb(199, 199, 199, 0.1));
    width: 30%;
    height: 350px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.descripcion_receta p{
    color: rgb(209, 207, 207);
    padding: 2%;
    text-align: justify;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    padding-right: 5%;
    font-style: italic;
    overflow: auto;
    

}
.descripcion_receta h2{
    color: rgb(209, 207, 207);
    padding: 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 5%;
    letter-spacing: 0.05cm;

}

.imagen_receta{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/recetas2.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

@media screen and (max-width:720px) {
    .imagen_receta{
        display: none;
    }
    .descripcion_receta{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba(29, 27,27 , 1), rgba(199, 199, 199, 0.1)), url(../imagenes/recetas2.png);
        width: 80%;
        height: 350px;
        border-radius: 3%; 

    }

    .descripcion_receta p{
        background: linear-gradient(90deg, rgba(255,255,255,1) 46%, rgba(185,185,185,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
        -webkit-background-clip: text;
        color: transparent; 
        padding: 2%;
        text-align: justify;
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
        padding-right: 5%;
        font-style: italic;
        
    }
    
}