@charset "UTF-8";
/*Animación conseguida en google*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");
:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}
@keyframes sparkle {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }
  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}
@keyframes shimmer {
  to {
    text-shadow: 0 0 10px red;
  }
}
h1 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 8rem;
  line-height: 0.85;
  perspective: 500px;
}

.word {
  display: block;
  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;
  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;
  animation-delay: 1.5s;
  color: gold;
}

.superscript {
  position: relative;
  animation-delay: 3.6s;
  animation-duration: 0.5s;
  animation-name: shimmer;
  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;
  position: absolute;
  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;
  animation: bar-scale 0.25s linear 3s 1 forwards;
  background: linear-gradient(to right, white var(--bar-width), transparent var(--bar-width) calc(100% - var(--bar-width)), white calc(100% - var(--bar-width)));
  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;
  position: absolute;
  top: -5%;
  left: -85%;
  width: var(--size);
  height: var(--size);
  animation: sparkle 0.4s linear 3.5s 1 forwards;
  background: radial-gradient(circle at center, rgba(252, 249, 241, 0.94) 0% 7%, transparent 7% 100%), conic-gradient(transparent 0deg 18deg, var(--sparkle-color) 18deg, transparent 20deg 40deg, var(--sparkle-color) 40deg, transparent 43deg 87deg, var(--sparkle-color) 87deg, transparent 95deg 175deg, var(--sparkle-color) 175deg, transparent 178deg 220deg, var(--sparkle-color) 220deg, transparent 222deg 270deg, var(--sparkle-color) 270deg, transparent 275deg 300deg, var(--sparkle-color) 300deg, transparent 303deg 360deg);
  border-radius: 50%;
  clip-path: polygon(50% 0, 59.13% 26.64%, 85.13% -2.35%, 100% 50%, 50% 100%, 0 50%, 31.39% 34.86%);
  content: "";
  filter: blur(1px);
  transform: scale(0);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }
  /* sparkle */
  .superscript::after {
    --size: 6rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 24, 24);
  /* redefino el margin de los parrafos por que boostrap me los modifica con el reboot.scss*/
}
body p {
  margin-bottom: 0;
}

/*Formato para el contendor principal*/
.contendor_principal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  background-color: rgb(59, 59, 59);
  width: 100%;
  gap: 15%;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
}

.encabezado {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-encabezado {
  display: flex;
  justify-content: flex-end;
}

.barra_navegacion {
  display: flex;
  gap: 5%;
  flex-direction: row;
  justify-content: flex-end;
}

.navegacion {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-end;
  border: none;
}

.nav_links {
  padding: 4px;
}
.nav_links a {
  border-radius: var(--bs-nav-tabs-border-radius);
  color: blanchedalmond;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.links_iconos {
  display: flex;
  font-size: x-large;
  gap: 20px;
  align-items: center;
}
.links_iconos a i {
  color: blanchedalmond;
}

/* estilo para el menu tipo hamburguesa*/
.encabezado_hamburguesa {
  display: none;
  padding: 0;
  background-color: rgb(59, 59, 59);
}

.contenedor_hamburguesa {
  background-color: rgb(59, 59, 59);
}

.boton_navbar {
  border-color: blanchedalmond;
}
.boton_navbar span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}
.boton_navbar span i {
  color: blanchedalmond;
  font-size: xx-large;
}

.menu-interno {
  background-color: rgb(59, 59, 59);
}

.logo-navbar {
  height: 50px;
  width: 50px;
}

.links_iconos .button {
  color: blanchedalmond;
  font-size: medium;
}

.btn-cerrar {
  background-color: transparent;
  border: none;
}

.lista-menu a {
  color: blanchedalmond;
}

.lista-interna {
  background-color: rgb(37, 37, 37);
}
.lista-interna a {
  color: blanchedalmond;
}

.submenu-productos {
  background-color: rgb(56, 56, 56);
}

.dropdown-buscar {
  transform: translate(100px, 70px) !important;
  width: 320px;
}

.input-busqueda {
  width: auto;
}

.formulario-busqueda {
  margin-left: 2%;
}

.links_iconos i {
  color: blanchedalmond;
  font-size: x-large;
}

@media screen and (max-width: 920px) {
  .encabezado_hamburguesa {
    display: flex;
    position: sticky;
    width: 100%;
  }
  .encabezado {
    display: none;
  }
}
/* linea divisoria*/
hr {
  border: 0;
  height: 2px;
  text-align: center;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
}

/* Contacto y ubicación*/
.seccion4 {
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: 100%;
}
.seccion4 h4 {
  color: rgb(209, 207, 207);
  font-family: "Alegreya Sans", sans-serif;
  font-size: x-large;
  font-weight: 500;
}

.seccion4__ubicacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 5px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.seccion4__ubicacion p {
  color: rgb(209, 207, 207);
  font-family: "Alegreya Sans", sans-serif;
  font-size: 90%;
  font-weight: 300;
}
.seccion4__ubicacion iframe {
  width: 150px;
}

.seccion4__contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
.seccion4__contacto p {
  color: rgb(209, 207, 207);
  font-family: "Alegreya Sans", sans-serif;
  font-size: 100%;
  font-weight: 300;
}

.seccion4__newslatters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.seccion4__newslatters p {
  color: rgb(209, 207, 207);
  font-family: "Alegreya Sans", sans-serif;
  font-size: 100%;
  font-weight: 300;
}

.boton {
  background: linear-gradient(90deg, rgba(10, 10, 10, 0.9) 0%, rgba(33, 33, 33, 0.9) 31%, rgba(33, 33, 33, 0.9) 61%, rgba(10, 10, 10, 0.9) 100%);
  font-family: "Alegreya Sans", sans-serif;
  font-size: 100%;
  font-weight: 800;
  border: none;
  box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.5);
}

.seccion4__redes {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.seccion4__redes a i {
  color: blanchedalmond;
  font-size: xx-large;
}

@media screen and (max-width: 576px) {
  .seccion4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: none;
    justify-content: space-between;
    padding: 1%;
    justify-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100%;
  }
  .seccion4__redes {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;
  }
}
/*formato footer*/
.pie {
  display: flex;
  padding: 0.1rem;
  width: 100%;
}
.pie img {
  aspect-ratio: 3/2;
  width: 118px;
}

.pie__derechoautor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pie__derechoautor p {
  text-align: center;
  color: rgb(209, 207, 207);
  font-family: "Alegreya Sans", sans-serif;
  font-size: small;
}

@media screen and (max-width: 576px) {
  .pie__imagen {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
/*Introduccion contenido de la pagina*/
.introduccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/Comida-inicio.png);
  background-size: cover;
  background-position: center;
}

.introduccion__textoIntro {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  text-align: center;
  gap: 10x;
}
.introduccion__textoIntro h1 {
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(209, 207, 207);
  font-weight: 900;
  font-size: 100px;
}
@media screen and (max-width: 576px) {
  .introduccion__textoIntro h1 {
    font-size: 17vw;
  }
}
.introduccion__textoIntro h2 {
  font-weight: 200;
  font-size: xx-large;
  color: rgb(209, 207, 207);
}
@media screen and (max-width: 576px) {
  .introduccion__textoIntro h2 {
    font-size: 5.2vw;
  }
}

/*formato segunda seccion */
.seccion2__contendor {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 3%;
  border: 10cm;
  border-color: aliceblue;
}

.seccion2__contendor__contenido {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: flex-start;
  background: linear-gradient(to left, rgba(199, 199, 199, 0.01), rgba(199, 199, 199, 0.1));
  width: 350px;
  height: 400px;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}
.seccion2__contendor__contenido p {
  color: rgb(209, 207, 207);
  font-family: "Prompt", sans-serif;
  padding: 2%;
  font-weight: 300;
  padding-right: 5%;
  font-style: italic;
  overflow: auto;
  text-align: justify;
}
.seccion2__contendor__contenido h1 {
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(209, 207, 207);
  padding: 2%;
  font-weight: 900;
  font-size: xx-large;
  padding-right: 5%;
  letter-spacing: 0.05cm;
}
.seccion2__contendor__contenido h2 {
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(209, 207, 207);
  padding: 2%;
  font-weight: 900;
  font-size: xx-large;
  padding-right: 5%;
  letter-spacing: 0.05cm;
}

.seccion2__contendor__imagen--chef {
  display: flex;
  width: 350px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/chef.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion2__contendor__imagen--arg {
  display: flex;
  width: 350px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/comida-arg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion2__contendor__imagen--it {
  display: flex;
  width: 350px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/pastasSecas.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion2__contendor__imagen--receta {
  display: flex;
  width: 350px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/recetas2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion2__contendor__imagen--asia {
  display: flex;
  width: 350px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/comidaAsiatica.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion2__contendor__imagen--arabic {
  display: flex;
  width: 350px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/arabicFood.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 720px) {
  .seccion2__contendor__imagen--chef {
    display: none;
  }
  .seccion2__contendor__imagen--arg {
    display: none;
  }
  .seccion2__contendor__imagen--it {
    display: none;
  }
  .seccion2__contendor__imagen--asia {
    display: none;
  }
  .seccion2__contendor__imagen--arabic {
    display: none;
  }
  .seccion2__contendor__imagen--receta {
    display: none;
  }
  .seccion2__contendor__contenido--chef {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 350px;
    border-radius: 3%;
    background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/chef.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion2__contendor__contenido--arg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 350px;
    border-radius: 3%;
    background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/comida-arg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion2__contendor__contenido--receta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 350px;
    border-radius: 3%;
    background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/recetas2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion2__contendor__contenido--asia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 350px;
    border-radius: 3%;
    background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/comidaAsiatica.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion2__contendor__contenido--it {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 350px;
    border-radius: 3%;
    background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/pastasSecas.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion2__contendor__contenido--arabic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 350px;
    border-radius: 3%;
    background: linear-gradient(to right, rgb(29, 27, 27), rgba(199, 199, 199, 0.1)), url(../imagenes/arabicFood.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion2__contendor__contenido p {
    color: rgb(209, 207, 207);
    padding: 2%;
    text-align: justify;
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    padding-right: 5%;
    font-style: italic;
    overflow: auto;
  }
  .seccion2__contendor__contenido--receta p {
    background: linear-gradient(90deg, rgb(255, 255, 255) 46%, rgb(185, 185, 185) 47%, rgb(0, 0, 0) 48%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    padding: 2%;
    text-align: justify;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    padding-right: 5%;
    font-style: italic;
  }
}
.seccion3 {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.seccion3__titulo {
  color: rgb(209, 207, 207);
  font-family: "Alegreya Sans", sans-serif;
  font-size: large;
  font-weight: 300;
  padding: 1%;
}

.seccion3__grilla {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
}
.seccion3__grilla img {
  aspect-ratio: 3/4;
  width: 100%;
  object-fit: cover;
  border-radius: 3%;
}
.seccion3__grilla p {
  width: 100%;
  color: rgb(114, 114, 114);
}
.seccion3__grilla h3 {
  color: rgb(209, 207, 207);
  font-family: "Prompt", sans-serif;
  font-size: large;
  font-weight: 500;
  padding: 2%;
  width: 100%;
}

.seccion3__items__pie {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: flex-start;
  padding: 0;
}
.seccion3__items__pie p {
  padding-bottom: 6%;
}

.seccion3__items {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 24, 24);
  border: none;
  gap: 7px;
  padding-bottom: 10px;
}
.seccion3__items a {
  width: 100px;
}

/*Propiedades carrusel*/
.seccion3__carrusel {
  display: none;
}
.seccion3__carrusel button {
  /*le piso propiedades que me trae por defecto del carrusel*/
  width: 5%;
  top: 40%;
  align-items: flex-start;
}
.seccion3__carrusel img {
  object-fit: cover;
  border-radius: 3%;
}

.seccion3__carrusel__contenedor {
  width: 80%;
}
.seccion3__carrusel__contenedor p {
  color: rgb(114, 114, 114);
}
.seccion3__carrusel__contenedor h3 {
  color: rgb(209, 207, 207);
  font-family: "Alegreya Sans", sans-serif;
  font-size: x-large;
  font-weight: 500;
  padding: 2%;
  width: 100%;
}

/*Oculto mi grilla y habilito la vista del carrusel cuando es vista de celular*/
@media screen and (max-width: 576px) {
  .seccion3__carrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .seccion3__grilla {
    display: none;
  }
  .seccion3__items {
    width: 100%;
  }
}
/* linea divisoria*/
hr {
  border: 0;
  height: 2px;
  text-align: center;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
}

/*# sourceMappingURL=styleNew.css.map */
