*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(26, 24, 24);
}
/* redefino el margin de los parrafos por que boostrap me los modifica con el reboot.scss*/
body p{
    margin-bottom: 0;
}

/*Formato para el contendor principal*/
.contendor_principal{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*formato para el header/fotter*/

header{ 
    display: flex;   
    background-color: rgb(59, 59, 59,1 );
    width: 100%;
    gap:15%;
    flex-direction: row;
    position: sticky;
    top:0;
    z-index: 100;
      
}

.encabezado{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo-encabezado{
    display: flex;
    justify-content: flex-end;

}

.barra_navegacion{
    display: flex;
    gap:5%;
    flex-direction: row;
    justify-content: flex-end;
}
.navegacion{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    border: none;
    
}

.nav_links{
    padding: 4px;
}
.nav_links  a{
    border-radius: var(--bs-nav-tabs-border-radius);
}

.nav_links a{
    color:beige;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    
}
  
.links_iconos{
    display: flex;
    font-size: x-large;
    gap: 20px;
    align-items: center;
}
.links_iconos a i{
    color: blanchedalmond;
}

/* estilo para el menu tipo hamburguesa*/
.encabezado_hamburguesa{
    display: none;
    padding: 0;
    background-color: rgb(59, 59, 59,1 ); 
}
.contenedor_hamburguesa{
    background-color: rgb(59, 59, 59,1 );
}

.boton_navbar{
    border-color:blanchedalmond;
}
.boton_navbar span{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.boton_navbar span i{
    color: blanchedalmond;
    font-size: xx-large;
}
.menu-interno{
    background-color: rgb(59, 59, 59,1);
}
.logo-navbar{
    height: 50px;
    width: 50px;
}
.links_iconos button{
    color: blanchedalmond;
    font-size: medium;
}
.btn-cerrar{
    background-color: transparent;
    border:none;
}

.lista-menu a{
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(245, 245, 220);
}

.lista-interna{
    background-color: rgb(37, 37, 37);
}

.lista-interna a{
    color: blanchedalmond;
}

.submenu-productos{
    background-color: rgb(56, 56, 56) ;
}
.dropdown-buscar{
    transform: translate(100px, 70px)!important;
    width: 320px;

}
.input-busqueda{
    width: auto;
}
.formulario-busqueda{
    margin-left: 2%;
}
.links_iconos i{
    color: blanchedalmond;
    font-size: x-large;
}


@media screen and (max-width:920px) {
    .encabezado_hamburguesa{
        display: flex;
        position: sticky;
        width: 100%;      
    }
    
    .encabezado{
        display: none;  
    }
    
}



/*formato para primera seccion(introduccion) */

.introduccion{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(0,0,0,.5),rgb(0,0,0,.5)), url(../imagenes/Comida-inicio.png);
    background-size: cover;
    background-position: center;
    
}

.introduccion__textoIntro{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    
}

.introduccion__textoIntro h1{
    font-weight: 900;
    font-size: 50px;
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(245, 245, 220);
}
.introduccion__textoIntro h2{
    font-weight: 200;
    font-size: larger;
    color: beige;
}

/*formato segunda seccion */


.seccion2__contendor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 3%;
    border:10cm;
    border-color: aliceblue;
}

.seccion2__contendor__contenido{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to left, rgba(199, 199, 199, 0.01),rgb(199, 199, 199, 0.1));
    width: 30%;
    height: 350px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.seccion2__contendor__contenido p{
    color: rgb(209, 207, 207);
    padding: 2%;
    text-align: justify;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    padding-right: 5%;
    font-style: italic;
    overflow: auto;
    

}
.seccion2__contendor__contenido h2{
    color: rgb(209, 207, 207);
    padding: 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 5%;
    letter-spacing: 0.05cm;

}
.seccion2__contendor__imagen--chef{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/chef.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.seccion2__contendor__imagen--arg{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/comida-arg.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}
.seccion2__contendor__imagen--it{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/pastasSecas.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}
.seccion2__contendor__imagen--receta{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/recetas2.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.seccion2__contendor__imagen--asia{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/comidaAsiatica.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.seccion2__contendor__imagen--arabic{
    display: flex;
    width: 300px;
    height: 350px;
    background: linear-gradient(to right, rgba(29, 27, 27, 1), rgba(199, 199, 199, 0.1)), url(../imagenes/arabicFood.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}


@media screen and (max-width:720px) {
    .seccion2__contendor__imagen--chef{
        display: none;
    }
    .seccion2__contendor__imagen--arg{
        display: none;
    }
    .seccion2__contendor__imagen--it{
        display: none;
    }
    .seccion2__contendor__imagen--asia{
        display: none;
    }
    .seccion2__contendor__imagen--arabic{
        display: none;
    }
    .seccion2__contendor__imagen--receta{
        display: none;
    }


    .seccion2__contendor__contenido--chef{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba(29, 27,27 , 1), rgba(199, 199, 199, 0.1)), url(../imagenes/chef.png);
        width: 80%;
        height: 350px;
        border-radius: 3%; 
    }
    .seccion2__contendor__contenido--arg{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba(29, 27,27 , 1), rgba(199, 199, 199, 0.1)), url(../imagenes/comida-arg.png);
        width: 80%;
        height: 350px;
        border-radius: 3%; 
    }
    .seccion2__contendor__contenido--receta{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba(29, 27,27 , 1), rgba(199, 199, 199, 0.1)), url(../imagenes/recetas2.png);
        width: 80%;
        height: 350px;
        border-radius: 3%; 
    }
    .seccion2__contendor__contenido--asia{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba(29, 27,27 , 1), rgba(199, 199, 199, 0.1)), url(../imagenes/comidaAsiatica.png);
        width: 80%;
        height: 350px;
        border-radius: 3%; 
    }
    .seccion2__contendor__contenido--it{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba(29, 27,27 , 1), rgba(199, 199, 199, 0.1)), url(../imagenes/pastasSecas.png);
        width: 80%;
        height: 350px;
        border-radius: 3%; 
    }

    .seccion2__contendor__contenido--arabic{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba(29, 27,27 , 1), rgba(199, 199, 199, 0.1)), url(../imagenes/arabicFood.png);
        width: 80%;
        height: 350px;
        border-radius: 3%; 
    }



    .seccion2__contendor__contenido p{
        color: antiquewhite; 
        padding: 2%;
        text-align: justify;
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
        padding-right: 5%;
        font-style: italic;
        overflow: auto;
        
    }
    .seccion2__contendor__contenido--receta p{
        background: linear-gradient(90deg, rgba(255,255,255,1) 46%, rgba(185,185,185,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
        -webkit-background-clip: text;
        color: transparent; 
        padding: 2%;
        text-align: justify;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        padding-right: 5%;
        font-style: italic;
        
    }
         
}

/*seccion productos*/

.seccion3{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.seccion3__titulo{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 300;
    padding:1%;
}

.seccion3__grilla img{
    aspect-ratio: 3/4;
    width:100%;
    object-fit: cover;
    border-radius: 3%;
}

.seccion3__grilla p{
    width:100%;
    color:rgb(114, 114, 114)
}

.seccion3__items__pie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.seccion3__items__pie a{
    width: 100px;
}

.seccion3__items__pie p{
    padding-bottom: 6%;
}

.seccion3__grilla{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.seccion3__grilla h3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    font-weight: 500;
    padding:2%;
    width: 100%;
}

.seccion3__items{
    display: flex;
    flex-direction: column;
    background-color:rgb(26, 24, 24) ;
    border: none;
    gap: 7px;
    padding-bottom: 10px;
    
}
/*Propiedades carrusel*/

.seccion3__carrusel{
    display: none;
}
.seccion3__carrusel__contenedor{
    width: 80%;
    
}
.seccion3__carrusel button{
    /*le piso propiedades que me trae por defecto del carrusel*/
    width:5%;
    top:40%;
    align-items: flex-start;
}


.seccion3__carrusel__contenedor p{
    color:rgb(114, 114, 114);
}
.seccion3__carrusel__contenedor H3{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding:2%;
    width: 100%;
}
 
.seccion3__carrusel img{
    object-fit: cover;
    border-radius: 3%;
}

/*Oculto mi grilla y habilito la vista del carrusel cuando es vista de celular*/
@media screen and (max-width:576px){
    .seccion3__carrusel{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .seccion3__grilla{
        display: none;

    }
    .seccion3__items{
        width: 100%;
    }
}

/* linea divisoria*/

hr {
    border: 0;
    height: 2px; 
    text-align: center; 
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
}

/* Contacto y ubicación*/
.seccion4{
    display:flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100%;
}

.seccion4__ubicacion iframe{
    width:150px;  

}

.seccion4__ubicacion{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5px;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.seccion4__ubicacion p{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 90%;
    font-weight: 300;  
    
}

.seccion4__contacto{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 15px;
}


.seccion4__contacto p{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100%;
    font-weight: 300;
}


.seccion4__newslatters{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}


.seccion4__newslatters p{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100%;
    font-weight: 300;

}


.boton{
    background: linear-gradient(90deg, rgba(10,10,10,0.9) 0%, rgba(33,33,33,0.9) 31%, rgba(33,33,33,0.9) 61%, rgba(10,10,10,0.9) 100%);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100%;
    font-weight: 800;
    border:none;
    box-shadow: 8px 8px 10px 1px rgba(0,0,0,0.5);
}

.seccion4__redes{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    
}

.seccion4__redes a i{
    color: blanchedalmond;
    font-size: xx-large;
}

.seccion4 h4{
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: x-large;
    font-weight: 500;
}

@media screen and (max-width:576px) {
    .seccion4{
        display:flex;
        flex-direction: column-reverse;
        padding: 1%;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;
        flex-shrink: 1;
        width: 100%;
    }

    .seccion4__redes{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1rem;
        
    }
    
}

/*formato footer*/

.pie{
    display: flex;
    padding: 0.1rem;
    width: 100%;
    
    
}
.pie img{
    aspect-ratio: 3/2;
    width: 118px;
}

.pie__derechoautor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.pie__derechoautor p{
    text-align: center;
    color: rgb(209, 207, 207);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: small;
    
}

@media screen and (max-width:576px) {
    .pie__imagen{
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
    
}

.anadir_carro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.anadir_carro i{
    color: azure;
    font-size: xx-large;
    padding-top: 1.5%;
}
